<br>
<h1 class="text-center">
  <i class="fas fa-comments fa-1x" style="color: #ff8000;"></i>
</h1>
<h3 class="text-center">Say Something</h3>
<div class="row">
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <b><em>Samer </em></b>: Testing message
      </div>
      <div class="card-footer">
        <form class="my-form">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter a message" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-warning" type="submit" id="button-addon2">
                <i class="fas fa-edit fa-lg"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Online Users</h5>
        <nav class="navbar bg-dark navbar-dark right_nav">
          <ul class="navbar-nav nav_vertical">
            <li class="nav-item">
              <a class="nav-link nav_link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link" href="#">Link 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link" href="#">Link 3</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
