@import 'bootstrap/dist/css/bootstrap';
*{
  box-sizing: border-box;
}
.nav_link {
  color: #ffffff !important;
}

.nav-item:hover {
  background-color: #f9bc06;

  a {
    color: black !important;
  }
}

.dropdown-menu-right {
  margin-top: 8px;
}

.btn-outline-warning {
  margin-left: 10px;
}

i.fa-comments, .fa-power-off {
  display: inline-block;
  border: 2px solid #808080;
  border-radius: 60px;
  box-shadow: 0 0 4px #808080;
  padding: 0.3em 0.4em;
}

.nav_vertical {
  width: 100% !important;
}

.right_nav {
  padding: 2px;
}

.card {
  box-shadow: 5px 5px 3px grey;
}

.card {
  height: 65vh;
}

.fa-edit {
  color: black;
}

.my-form {
  padding-bottom: 0px;
}

.card-footer {
  padding-bottom: 0;
}


.split-layout {
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  border: 2px solid #a8a8a8;

  @media screen and (min-width: 30em) {
    flex-direction: row;
    align-items: stretch;
  }
}

.split-layout__item  {
  flex: 1;
  padding-left: 15px;

  @media screen and (min-width: 30em) {
    padding-left: 0;

    &:first-child {
    padding: 0;
    }
  }
}

.split-layout__divider {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (min-width: 30em) {
   flex-direction: column;
  }
}

.split-layout__label {
  padding: 0.5em;
}

.split-layout__rule {
  flex: 1;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;

  @media screen and (min-width: 30em) {
   border-width: 0 1px 0 0;
  }
}
.split-layout2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group-prepend, .input-group-text {
  border-right: none !important;
  background-color: white !important;
}

#exampleInputPassword1, #validationDefaultUsername {
  border-left: none !important;
}
